<main>
  <div class="grid">
    {{#if hasProducts}}
      {{#each prods}}
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">{{this.productName}}</h1>
          </header>
          <div class="card__image">
            <img
              src="/images/products/{{this.imageUrl}}"
              alt={{this.productName}}
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">{{this.price}}</h2>
            <p class="product__description">{{this.description}}</p>
          </div>
          <div class="card__actions">
            <a href="/api/v1/shop/products/{{this.id}}" class="btn">Details</a>
            <form action="/add-to-card" method="post">
              <input type="hidden" name="productId" value={{product.id}} />
              <form action="/api/v1/shop/add-to-cart" method="post">
                <input type="hidden" name="productId" value="{{product.id}}" />
                <input
                  type="hidden"
                  name="productPrice"
                  value="{{product.price}}"
                />
                <button class="btn" type="submit">Add to cart</button>
              </form>
            </form>
          </div>
        </article>
      {{/each}}
    {{else}}
      <h1>No products available</h1>
    {{/if}}
  </div>
</main>

{{! /images/products/Pen1.jpg }}